<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글</h2> </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/newPost}'|" type="button">게시글 작성</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead> <tr>
                <th>작성자</th> <th>제목</th> <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a href="id.html" th:href="@{|/all/${post.id}|}" th:text="${post.userid}">작성자</a></td>
                <td><a href="id.html" th:href="@{|/all/${post.id}|}" th:text="${post.title}">제목</a></td>
                <td th:text="${post.hits}">조회수</td>

            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>



